.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: none;
  background: none;
  padding: 0.5em 0.75em;
  border-radius: 0.25rem;

  &-primary {
    background-color: $color-primary;
    &:hover {
      background-color:darken($color-primary, 10%)
    };
  }

  &-secondary {
    background-color: $color-secondary;
    &:hover {
      background-color: darken($color-secondary, 10%)
    };
  }
}